TEST_SITE_DB_HOST=localhost
TEST_SITE_DB_NAME=local
TEST_SITE_DB_USER=root
TEST_SITE_DB_PASSWORD=root
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=admin
TEST_SITE_WP_ADMIN_PATH=/wp-admin
TEST_SITE_WP_URL=http://site-domain.local
TEST_CHROME_HOST=127.0.0.1
TEST_SITE_WP_PATH=/Path/to/site
GF_KEY=GravityFormsKey
